{% extends 'base.html' %}

{% block content %}

    <section class="intro" style="background-image: url('../static/images/luminous-metaverse-background.jpg'); object-fit: scale-down;height: 30vw" alt="AI code background image">
        <p class="open-sans">Let AI decide the best <br> university for <br> you</p>
        <button class='btn-default' > <a>Get Started </a></button>
   </section>

   <section class="about">
        <h1>About Enrollege</h1>
        <p class="open-sans">
            Enrollege is an AI university recommendation system that uses K-Nearest Neighbor  
            machine learning algorithm to select the top 10 
            universities that fit your preference based on Grades, chances of acceptance, tuition fee. 
            Enrollege was made for ALX foundation final project.
        </p>
   </section>
   <section class="team">
        <h1>Our Team</h1>
        <div class="team-members">
            <div>
                <img src="https://dummyimage.com/150x150/000/fff&text=img+placeholder" alt="">
                <p>Ejiofor Kenneth Obieze</p>
                <p>Front-end <br/> developement</p>
                <div>
                    <a href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
            <div>
                <img src="https://dummyimage.com/150x150/000/fff&text=img+placeholder" alt="">
                <p>Dame Omonefe Oboh</p>
                <p>Product design, <br> project management</p>
                <div>
                    <a href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
            <div>
                <img src="../static/images/Joseph.jpg" alt="Joseph Tam Ogbo" style="object-fit: contain; width: auto">
                <p>Joseph Tam Ogbo</p>
                <p>Back-end <br> developement</p>
                <div>
                    <a href="https://www.linkedin.com/in/joseph-tam-b9700b1a6">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://www.twitter.com/Josepht_tam_">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://github.com/josephtam-github">
                        <i class="fa-brands fa-github" style="color: black"></i>
                    </a>
                </div>
            </div>
        </div>
   </section>

{% endblock %}