{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
            <section class="login-body layered box">
                <div>
                    <h2>Login</h2>
                    <hr>
                </div>
                <div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div>
                                {{ form.username.label() }}
                            <div>
                                {{ form.username(placeholder='E.g johndoe') }}
                            </div>
                        </div>
                        <div>
                                {{ form.password.label() }}
                            <div>
                                {{ form.password() }}
                            </div>
                        </div>
                        <div>
                            Don't have an account? <a href="{{ url_for('signup_page') }}"> Signup</a>
                        </div>
                        <div>
                            <div>
                                {{ form.submit(class='intro btn-default open-sans h5') }}
                            </div>
                        </div>
                    </form>
                </div>
            </section>
{% endblock %}