{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
            <section class="login-body layered box">
                <div>
                    <h2>Profile</h2>
                    <hr>
                </div>
                <div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div>
                                {{ form.sat_score.label() }}
                            <div class="quantity">
                                {{ form.sat_score() }}
                            </div>
                        </div>
                        <div>
                                {{ form.tuition.label() }}
                            <div>
                                {{ form.tuition() }}
                                {{ form.tuition_display(class="range-value", id="tuition_value") }}
                            </div>
                        </div>
                        <div>
                            <div>
                                {{ form.submit(class='intro btn-default open-sans h5') }}
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            {% if result %}
                <section href="#result">
                    <table class="login-body layered box styled-table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>University</th>
                                <th>Acceptance Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for university in result %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ university[0] }}</td>
                                <td>{{ university[1]|round(2, 'common') }}%</td>
                            </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                </section>
            {% endif %}
            {% if message == 204 %}
                <section href="#result" class="layered box login-body">
                    <div>
                        <i class="fa-solid fa-face-sad-tear fa-3x fa-fade" style="color: #FFA500;"></i>
                    </div>
                    <h3> Sorry there are no recommendations for your preference, please try again</h3>
                </section>
            {% endif %}
{% endblock %}