{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
            <section class="login-body layered box">
                <div>
                    <h2>Profile</h2>
                    <hr>
                </div>
                <div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div>
                                {{ form.sat_score.label() }}
                            <div class="quantity">
                                {{ form.sat_score() }}
                            </div>
                        </div>
                        <div>
                                {{ form.tuition.label() }}
                            <div>
                                {{ form.tuition() }}
                                {{ form.tuition_display(class="range-value", id="tuition_value") }}
                            </div>
                        </div>
                        <div>
                            <div>
                                {{ form.submit(class='intro btn-default open-sans h5') }}
                            </div>
                        </div>
                    </form>
                </div>
            </section>
{% endblock %}