{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
            <section class="login-body layered box">
                <div>
                    <h2>Signup</h2>
                    <hr>
                </div>
                <div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div>
                                {{ form.username.label() }}
                            <div>
                                {{ form.username(placeholder='E.g johndoe') }}
                            </div>
                        </div>
                        <div>
                                {{ form.firstname.label() }}
                            <div>
                                {{ form.firstname(placeholder='E.g John') }}
                            </div>
                        </div>
                        <div>
                                {{ form.lastname.label() }}
                            <div>
                                {{ form.lastname(placeholder='E.g Doe') }}
                            </div>
                        </div>
                        <div>
                                {{ form.email_address.label() }}
                            <div>
                                {{ form.email_address(placeholder='E.g johndoe@mail.com') }}
                            </div>
                        </div>
                        <div>
                                {{ form.password.label() }}
                            <div>
                                {{ form.password() }}
                            </div>
                        </div>
                        <div>
                                {{ form.confpassword.label() }}
                            <div>
                                {{ form.confpassword() }}
                            </div>
                        </div>
                        <div>
                            Already have an account? <a href="{{ url_for('login_page') }}"> Login</a>
                        </div>
                        <div>
                            <div>
                                {{ form.submit(class='intro btn-default open-sans h5') }}
                            </div>
                        </div>
                    </form>
                </div>
                <small>
                    <ul>
                        <li>
                            Username, Firstname and Lastname must have a minimum of 2 characters and maximum of 30
                        </li>
                        <li>
                            Password must have a minimum of 6 characters
                        </li>
                        <li>
                            Email address must be valid
                        </li>
                        <li>
                            Confirm Password must match Password
                        </li>
                    </ul>
                </small>
            </section>
{% endblock %}