@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.cdnfonts.com/css/open-sans');

nav {
    display: flex;
}

.svgbackground-1 {
    /* Gotten from https://www.svgbackgrounds.com/*/
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' height='240' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233C2700' stroke-width='1.7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFA500'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}

.intro {
    color: #FFFFFF;
    text-align: center;
    padding: 25px;
    height: auto;
}

.intro p {
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.intro button, .btn-default {
    background-color: #FFA500;
    border-radius: 0.3em;
    padding: 8px;
    border-style: none;
}

.intro button a {
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom: 10px;
}

.about {
    background-image: linear-gradient(white, #D9D9D9);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    padding: 1% 10% 5% 10%;
}

.about h1 {
    color: #FFA500;
    font-weight: 800;
}

.about p {
    text-align: justify;
    font-size: 1em;
}

.team {
    background-image: linear-gradient(#D9D9D9, white);
    padding: 25px;
    box-sizing: border-box;
    display: block;
}

.team h1 {
    text-align: center;
    color: #FFA500;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

.team-members {
    display: flex;
    justify-content: space-around;
}

.team-members div {
    text-align: center;
}

.team-members div :nth-child(2) {
    font-weight: 600;
    line-height: 0;
    margin-bottom: 0;
}

.team-members img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.team-members div div a i {
    padding: 0 0.5em;
}


.profile-pic {
    border-radius: 50%;
}

.login-body {
    margin: 5% 20% 5% 20%;
    padding: 30px;
    height: auto;
    background-color: white;
    background-blend-mode: hue;
}

hr {
    border-color: black;
    margin-bottom: 35px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1, h1 {
    font-size: 2.5rem
}

.h2, h2 {
    font-size: 2rem
}

.h3, h3 {
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem
}

.h6, h6 {
    font-size: 1rem
}

.login-body form > div {
    font-family: "Open Sans";
    margin-bottom: 15px;
}

.login-body input[type=text], input[type=password] {
    width: 80%;
    height: 50px;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

.login-body input[type=text]:focus, input[type=password]:focus {
    outline: 0;
    border-color: #FFA500;
}

.login-body div:first-child {
    border-radius: 5%;
    text-align: center;
}

.login-body img {
    width: 100%;
}

.login-page {
    background-color: #FFEDCC;
}

.login-form {
    text-align: left;
    margin-top: 20px;
}

.login-body div button {
    /* width: 50%; */
    text-align: left;
    font-size: 0.7em;
}

.login-body div button i {
    padding: 0 3px;
}

.login-with {
    display: block;
}

.login-form label {
    font-size: 1em;
    font-weight: bold;
}

.login-body div div a {
    font-size: 1em;
    color: #FFA500;
    font-weight: bolder;
    font-family: "Clash Display";
}

/*.login-body div div :nth-child(1) {*/
/*    padding-right: 20px;*/
/*}*/

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-family: "Open Sans";
    font-size: 1rem;
}

.alert-dismissible {
    padding-right: 4rem
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.fade {
    transition: opacity .15s linear
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none
    }
}

.fade:not(.show) {
    opacity: 0
}

.rendered-form {
    text-align: left;
}

.ur-system {
    background-color: #D9D9D9;
    box-shadow: inset 4px 0px 100px 62px rgba(0, 0, 0, 0.1);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    padding: 1% 10% 5% 10%;
}

.layered.box {
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.ur-system h1 {
    color: #FFA500;
    font-weight: 800;
}

.ur-system p {
    text-align: justify;
}

.profile-page {
    height: auto;
}

.open-sans {
    font-family: 'Open Sans';
}

@media screen and (max-width: 600px) {
    .team-members {
        display: block;
    }
}


/*Style for range input*/

input[type="range"] {
  -webkit-appearance: none;
  width: 75%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
    margin-right: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFA500;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFA500;
  cursor: pointer;
}

/*Style for number input*/

.quantity {
    position: relative;
    margin-bottom: 60px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
    font-family: "Clash Display";
    font-size: 1.3rem;
  width: 50%;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid black;
}

.quantity input:focus {
  outline: 0;
    border-color: #FFA500;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
    font-family: "Clash Display";
  position: relative;
  cursor: pointer;
  border-left: 1px solid black;
  width: 20px;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid black;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

/*Styling for range value*/
.range-value {
    -webkit-appearance: none;
    border-width: 0px 0px 1px 0px;
    width: 50%;
    border-color: black;
    font-family: "Clash Display";
    font-size: 1.3rem;

}

.range-value:focus {
    outline: 0;
    border-color: #FFA500;
}